{% extends 'base.html' %}

{%block title %} Cadastrar {% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
     <div class="box">
    <h1>Cadastrar</h1>
    <input type="text" placeholder="Nome" name="nome">
    <input type="text" placeholder="Sobrenome" name="sobrenome">
    <input type="date" placeholder="Data de Nascimento" name="datanascimento">
    <input type="text" placeholder="Email" name="email">
    <input type="number" placeholder="Telefone" name="telefone">
    <input type="text" placeholder="Endereço" name="endereco">
    <input type="text" placeholder="Login" name="login">
    <input type="password" placeholder="Senha" name="senha">
    <button>Salvar</button>
  </div>
    </form>
    <a href="{% url 'list' %}"><button class="btn btn-danger">Voltar</button></a>
{% endblock %}