{% extends 'base.html' %}

{%block title %} Deletar {% endblock %}

{% block body %}
<h1>Você realmente deseja deletar os registros de {{ pessoa.nome }} {{ pessoa.sobrenome }} ?</h1>
<form method="post">
    {% csrf_token %}
    <button class="btn btn-primary">Sim</button>
</form>
<a href="{% url 'list' %}"><button class="btn btn-danger">Não</button></a>
{% endblock %}