{% extends 'base.html' %}

{%block title %} Listar {% endblock %}

{% block body %}
<h1>Listagem</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th scope="col">Login</th>
        <th scope="col">Senha</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
    </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for pessoa in pessoa %}
        <tr>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.sobrenome}}</td>
            <td>{{pessoa.datanascimento}}</td>
            <td>{{pessoa.email}}</td>
            <td>{{pessoa.telefone}}</td>
            <td>{{pessoa.endereco}}</td>
            <td>{{pessoa.login}}</td>
            <td>{{pessoa.senha}}</td>
            <td><a href="{% url 'update' pessoa.id %}">Editar</a></td>
            <td><a href="{% url 'delete' pessoa.id %}">Deletar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'create' %}"><button type="submit" class="btn btn-primary">Criar</button></a>
{% endblock %}