{% extends 'base.html' %}

{%block title %} Editar {% endblock %}

{% block body %}
<form method="post">
    <h1>Atualizar Dados</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Salvar</button>
</form>
<a href="{% url 'list' %}"><button class="btn btn-danger">Voltar</button></a>
{% endblock %}